<html>
    <head>
        {{#if style}}
            <link rel="stylesheet" href="/style/{{{style}}}"> </link>
        {{/if}}
        <script src="/views/vendors.js"> </script>
    </head>

    <body>

        {{{content}}}

    </body>


    {{#if script}}
        <script src="/views/{{{script}}}"> </script>
    {{/if}}


</html>

